body {
  margin: 0;
  padding: 0;
  background: #000;
}

.diamond-grid {
  width: 70%;
  margin: 150px auto 0;
}

.item {
  width: 220px;
  height: 220px;
  background: #fff;
  transition: .5s;
  opacity: 0.5;
  transition: .5s;
}

.item:hover{
    opacity: 1;
}

.item img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(1.5);
    width: 100%;
}